Q1 : Reverse Right Triangle star pattern

In [20]:
rows = 10

for i in range (1,rows+1) : 
  for j in range(1,rows+1): 
    if (j<i): 
      print (' ' , end = '')
    else : 
        print('*' , end= '')
  print()

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

Q2: Calculate value of Pi

In [32]:
k = 1

s = 0 

for i in range (100000) : 
  if i % 2 == 0 :
    s += 4/k

  else: 
      s -= 4/k

  k += 2 

print(s)

3.1415826535897198